; {{ ansible_managed }}


;
$TTL    86400
@       IN      SOA       wheel.time.     admin.wheel.time. (
                          1         ; Serial
                          604800    ; Refresh
                          86400     ; Retry
                          2419200   ; Expire
                          86400 )   ; Negative Cache TTL

{% for name in item.dns_entry   %}
{{name}}.       IN      A     {{ cache_ip }}
{% endfor %}
