$config['bad_if_regexp'][] = '/^docker[\w]+$/';
$config['bad_if_regexp'][] = '/^lxcbr[0-9]+$/';
$config['bad_if_regexp'][] = '/^veth.*$/';
$config['bad_if_regexp'][] = '/^virbr.*$/';
$config['bad_if_regexp'][] = '/^lo$/';
$config['bad_if_regexp'][] = '/^macvtap.*$/';
$config['bad_if_regexp'][] = '/gre.*$/';
$config['bad_if_regexp'][] = '/tun[0-9]+$/';

$config['snmp']['community'][] = "public";

// v3
// $config['snmp']['v3'][0]['authlevel'] = 'AuthPriv';
// $config['snmp']['v3'][0]['authname'] = 'my_username';
// $config['snmp']['v3'][0]['authpass'] = 'my_password';
// $config['snmp']['v3'][0]['authalgo'] = 'MD5';
// $config['snmp']['v3'][0]['cryptopass'] = 'my_crypto';
// $config['snmp']['v3'][0]['cryptoalgo'] = 'AES';

$config['nets'][] = '192.168.0.0/16';
$config['nets'][] = '10.1.1.0/24';
$config['nets'][] = '172.2.4.0/22';

{%if docker_libreNMS_influxdb %}
$config['influxdb']['enable'] = true;
$config['influxdb']['transport'] = 'http'; # Default, other options: https, udp
$config['influxdb']['host'] = '{{ docker_libreNMS_influxdb_ip }}';
$config['influxdb']['port'] = '{{ docker_libreNMS_influxdb_port }}';
$config['influxdb']['db'] = '{{ docker_libreNMS_database_name }}';
$config['influxdb']['username'] = '{{ docker_libreNMS_influxdb_username }}';
$config['influxdb']['password'] = '{{ docker_libreNMS_influxdb_password }}';
$config['influxdb']['timeout'] = 0; # Optional
$config['influxdb']['verifySSL'] = false; # Optional
{% endif %}