
$config['show_locations'] = 1; # Enable Locations on menu
$config['show_locations_dropdown'] = 1; # Enable Locations dropdown on menu
$config['show_services'] = 0; # Enable Services on menu
$config['int_customers'] = 0; # Enable Customer Port Parsing
$config['summary_errors'] = 1; # Show Errored ports in summary boxes on the dashboard
$config['int_transit'] = 0; # Enable Transit Types
$config['int_peering'] = 0; # Enable Peering Types
$config['int_core'] = 0; # Enable Core Port Types
$config['int_l2tp'] = 0; # Enable L2TP Port Types
$config['force_ip_to_sysname'] = true;
$config['enable_bgp'] = 0; # Enable BGP session collection and display
$config['enable_syslog'] = 0; # Enable Syslog
$config['enable_inventory'] = 0; # Enable Inventory
$config['enable_pseudowires'] = 0; # Enable Pseudowires
$config['enable_vrfs'] = 0; # Enable VRFs
$config['enable_sla'] = 0; # Enable Cisco SLA collection and display
$config['bad_if_regexp'][] = '/^lo.*/'; // ignore loopback interface
$config['bad_if_regexp'][] = '/^docker[\w]+$/'; // ignore docker interfaces
$config['ignore_mount_regexp'][] = "/^\/volume1\/@docker\/.*/"; // Syno-NAS ignore docker mounts
$config['ignore_mount'][] = "/dev/shm"; // Syno-NAS
$config['ignore_mount_regexp'][] = "/\/run.*/"; // Syno-NAS
$config['ignore_mount'][] = "/sys/fs/cgroup"; // Syno-NAS
$config['ignore_mount'][] = "/tmp"; // Syno-NAS

$config['snmp']['community'][] = "public";

// v3
// $config['snmp']['v3'][0]['authlevel'] = 'AuthPriv';
// $config['snmp']['v3'][0]['authname'] = 'my_username';
// $config['snmp']['v3'][0]['authpass'] = 'my_password';
// $config['snmp']['v3'][0]['authalgo'] = 'MD5';
// $config['snmp']['v3'][0]['cryptopass'] = 'my_crypto';
// $config['snmp']['v3'][0]['cryptoalgo'] = 'AES';

// $config['nets'][] = '192.168.0.0/16';
$config['nets'][] = '10.1.1.0/24';
// $config['nets'][] = '172.2.4.0/22';

{%if docker_libreNMS_influxdb %}
$config['influxdb']['enable'] = true;
$config['influxdb']['transport'] = 'http'; # Default, other options: https, udp
$config['influxdb']['host'] = '{{ docker_libreNMS_influxdb_ip }}';
$config['influxdb']['port'] = '{{ docker_libreNMS_influxdb_port }}';
$config['influxdb']['db'] = '{{ docker_libreNMS_influxdb_database_name }}';
$config['influxdb']['username'] = '{{ docker_libreNMS_influxdb_username }}';
$config['influxdb']['password'] = '{{ docker_libreNMS_influxdb_password }}';
$config['influxdb']['timeout'] = 0; # Optional
$config['influxdb']['verifySSL'] = false; # Optional
{% endif %}